services:
  rag-app:
    build: .
    container_name: local-rag
    ports: 
      - 8501:8501

    volumes: 
      - ./data:/app/data
      - ./db:/app/db

    environment: 
      - OLLAMA_HOST=http://host.docker.internal:11434
    extra_hosts:
      - "host.docker.internal:host-gateway"